@page "/register"
@using System.ComponentModel.DataAnnotations
@using PowerPulse.Modules.Authentication.Models
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation
@rendermode InteractiveServer

<div class="flex items-center justify-center h-screen">
    <div class="card w-full max-w-md">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Регистрация</h1>
        <EditForm FormName="register" Model="@registerModel" OnValidSubmit="HandleRegister" class="space-y-4">
            <DataAnnotationsValidator />
            <div>
                <label class="block text-gray-600">Псевдоним</label>
                <InputText @bind-Value="registerModel.Username" class="w-full p-2 border rounded-md" />
                <ValidationMessage For="@(() => registerModel.Username)" />
            </div>
            <div>
                <label class="block text-gray-600">Email</label>
                <InputText @bind-Value="registerModel.Email" class="w-full p-2 border rounded-md" />
                <ValidationMessage For="@(() => registerModel.Email)" />
            </div>
            <div>
                <label class="block text-gray-600">Пароль</label>
                <InputText type="password" @bind-Value="registerModel.Password" class="w-full p-2 border rounded-md" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <div>
                <label class="block text-gray-600">Подтвердите пароль</label>
                <InputText type="password" @bind-Value="registerModel.ConfirmPassword" class="w-full p-2 border rounded-md" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary w-full">Зарегистрироваться</button>
        </EditForm>
        <p class="mt-4 text-center text-gray-600">
            Уже есть аккаунт? <a href="/login" class="text-blue-600 hover:underline">Войдите</a>
        </p>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="mt-4 text-red-600 text-center">@errorMessage</p>
        }
    </div>
</div>

@code {
    [SupplyParameterFromForm] private RegisterModel registerModel { get; set; } = new();
    private string errorMessage = string.Empty;

    private async Task HandleRegister()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("ApiClient");
            var response = await client.PostAsJsonAsync("api/auth/register", registerModel);
            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/login");
            }
            else
            {
                errorMessage = await response.Content.ReadAsStringAsync();
            }
        }
        catch
        {
            errorMessage = "Произошла ошибка. Попробуйте ещё раз позже";
        }
    }
}